.card-rosa-button {
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(133, 105, 105);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}